{% if (cameras_list|default([]))|length < 2 %}
    <h2>{{ _("Camera Comparison") }}</h2>
    <ul>
        {% for camera in cameras_list %}
            <li class="lens-item">
                <form method="post" action="{{ url_for('remove_camera_from_comparison_list', camera_id=camera.id) }}">
                   <button class="button_remove_comparison_list" type="submit">
                    X
                   </button>
                </form>
                <b>{{ camera.name }}</b>
            </li>
        {% endfor %}
        <li><b>{{ _("Add one more or more!") }}</b></li>
    </ul>

{% else %}
    <h2><a href="{{ url_for('compare_cameras') }}">{{ _("Camera Comparison") }}</a></h2>
    <ul>
        {% for camera in cameras_list %}
            <li class="lens-item">
                <form method="post" action="{{ url_for('remove_camera_from_comparison_list', camera_id=camera.id) }}">
                   <button class="button_remove_comparison_list" type="submit">
                    X
                   </button>
                </form>
                <b>{{ camera.name }}</b>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" action="{{ url_for('clear_list_of_cameras_for_comparison') }}">
  <button type="submit">
    {{ _("Clear the comparison list") }}
  </button>
</form>
<br>