# --- core ---
fastapi==0.115.12
pydantic==2.11.7
uvicorn==0.41.0
pydantic-settings==2.10.1

# --- Админка ---
starlette-admin==0.16.0
psycopg-binary==3.3.3

# --- База данных / ORM ---
sqlalchemy==2.0.43
sqlalchemy_file==0.6.0

# --- PostgreSQL async driver ---
asyncpg==0.30.0

# --- Миграции ---
alembic==1.16.5

# --- Перевод шаблонов ---
babel==2.18.0

# --- Utils ---
python-dotenv==1.1.1
fasteners==0.20
pillow==12.2.0

# --- Шаблоны/формы ---
jinja2==3.1.6
python_multipart==0.0.22

# --- Логирование ---
loguru==0.7.3

# --- Тесты ---
pytest==9.0.2

# --- Линтер ---
flake8==5.0.4
flake8-docstrings==1.7.0