<div class="field">
    <label for="focal">{{ _("Select a teleconverter") }}</label>
    <div class="inline">

      <div class="inline-item">
        <input
           type="radio"
           id="tc-none"
           name="teleconverter_id"
           value=""
           style="width:auto;"
           {% if teleconverter_id is none %}checked{% endif %}
        >
        <label for="tc-none">{{ _("Without a teleconverter") }}</label>
      </div>

      {% if teleconverters %}
        {% for item in teleconverters %}
          <div class="inline-item">
            <input
               type="radio"
               id="tc-{{ loop.index }}"
               name="teleconverter_id"
               value="{{ item.teleconverter_id }}"
               style="width:auto;"
               {% if teleconverter_id is not none and teleconverter_id == item.teleconverter_id %}checked{% endif %}
            >
            <label for="tc-{{ loop.index }}">{{ item.multiplier }}x</label>
          </div>
        {% endfor %}
      {% endif %}

    </div>
</div>


{% if lens and  lens.focal_wide != lens.focal_tele %}

    <label for="focal">{{ _("Select the focal length") }}, mm</label>

    <input
        type="range"
        id="focal"
        name="focal"
        min="{{ lens.focal_wide }}"
        max="{{ lens.focal_tele }}"
        step="1"
        value="{{ focal or lens.focal_tele }}"
        oninput="document.getElementById('focal-output').value = this.value"
    >

    <output id="focal-output">{{ focal or lens.focal_tele }}</output> mm
{% endif %}