APP_TITLE=WebCalcFov
APP_DESCRIPTION=Считает высоту и ширину кадра на заданном расстоянии в зависимости от фокусного расстояния объектива и физического размера матрицы.

DATABASE_URL=
DATABASE_SYNC_URL=