{% extends "base_template.html" %}
{% block title %}
{{ _("Comparison Lists") }}
{% endblock %}
{% block content %}
<h1>{{ _("Comparison Lists") }}</h1>


{% if lenses_list %}
    {% include "gear/compare/compare_includes/lenses_list.html" %}
{% else %}
    <h2>{{ _("Lens Comparison") }}</h2>
    <ul>
        <li>{{ _("There are no lenses to compare, add a couple or more!") }}</li>
    </ul>
{% endif %}
<br>


{% if cameras_list_list %}
    {% include "gear/compare/compare_includes/cameras_list.html" %}
{% else %}
    <h2>{{ _("Camera Comparison") }}</h2>
    <ul>
        <li>{{ _("There are no cameras to compare, add a couple or more!") }}</li>
    </ul>
{% endif %}

{% endblock %}