{% extends "base_template.html" %}
{% import "gear/macros/macros_lens_specs.html" as specs_macros with context %}
{% import "gear/macros/common.html" as common_macros with context %}
{% block title %}
{{ _("Lens Comparison") }}
{% endblock %}
{% block content %}

<span>
    / <a href="{{ url_for('comparison_lists') }}">{{ _("Comparison Lists") }}</a>
</span>

<h1>{{ _("Lens Comparison") }}</h1>


{% if not lenses %}
    {{ _("There are no lenses to compare, add a couple or more!") }}
{% elif (lenses|default([]))|length < 2 %}
    {{ _("Add one more or more!") }}
{% else %}

<form method="post" action="{{ url_for('clear_comparison_list') }}">
  <button type="submit">
    {{ _("Clear the comparison list") }}
  </button>
</form>
<br>

<div class="compare-page">
  <table class="compare-table">
    <thead>
      <tr>
        <th>{{ _("Parameter") }}</th>
        {% for lens in lenses %}
          <th>
            <a href="{{ url_for('lens_detail', slug=lens.manufacturer, lens_id=lens.id) }}">
              {{ lens.name }}
            </a>

              <form method="post" action="{{ url_for('remove_lens_comparison_list', lens_id=lens.id) }}">
               <button class="button_remove_comparison_list" type="submit">
                X
               </button>
              </form>

          </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>


    <!-- Общие -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("General") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Manufacturer") }}</td>
        {% for lens in lenses %}
          <td>{{ lens.manufacturer }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Mount") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.bayonet.name) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Focal length") }}, mm</td>
        {% for lens in lenses %}
          <td>
            {% if lens.focal_wide != lens.focal_tele %}
              {{ lens.focal_wide }}–{{ lens.focal_tele }}
            {% else %}
              {{ lens.focal_wide }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Aperture") }}</td>
        {% for lens in lenses %}
          <td>
            {% if lens.aperture_max_wide != lens.aperture_max_tele %}
              f/{{ lens.aperture_max_wide }}–{{ lens.aperture_max_tele }}
            {% else %}
              f/{{ lens.aperture_max_tele }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Lens Type") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(specs_macros.lens_type_label(lens.spec.lens_type.value)) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Construction") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(specs_macros.construction_type_label(lens.spec.construction_type)) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Sensor coverage format") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.coverage_format.value) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Date of the announcement/start of sales, (y-m-d)") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.production_start_date) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Sales end date, (y-m-d)") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.production_end_date) }}</td>
        {% endfor %}
      </tr>


    <!-- Физические характеристики -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Physical characteristics") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Length") }}, mm</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.length_mm) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Diameter") }}, mm</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.diameter_mm) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Weight") }}, g</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.weight_g) }}</td>
        {% endfor %}
      </tr>


    <!-- Диафрагма spec -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Aperture") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Minimum aperture (mix f-number)") }}</td>
        {% for lens in lenses %}
          <td>f/{{ common_macros.value_or_dash(lens.spec.min_aperture) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Number of diaphragm blades") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.aperture_blades) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Type of aperture") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(specs_macros.type_diaphragm_label(lens.spec.type_diaphragm.value)) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Rounding of diaphragm blades") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.aperture_blades_rounded) }}</td>
        {% endfor %}
      </tr>


    <!-- Фильтры -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Filters") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Filter size") }}, mm</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.filter_size_mm) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Supports front filters") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.supports_front_filters) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Rear filter holder") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.rear_filter_holder) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Filter mount type") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(specs_macros.filter_mount_type_label(lens.spec.filter_mount_type.value)) }}</td>
        {% endfor %}
      </tr>





    <!-- Фокусировка -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Focusing") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Focus type") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(specs_macros.focus_type_label(lens.spec.focus_type.value)) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Autofocus") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.autofocus) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Full time manual focus") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.full_time_manual_focus) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Min focus distance") }}, m</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.min_focus_distance_m) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Autofocus motor type") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(specs_macros.focus_motor_type_label(lens.spec.autofocus_motor_type.value)) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Brand name autofocus") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.brand_name_autofocus) }}</td>
        {% endfor %}
      </tr>


    <!-- Стабилизация -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Stabilization") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Image stabilization") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.image_stabilization) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Stabilization name") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.stabilization_name) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Stabilization stops") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.stabilization_stops) }}</td>
        {% endfor %}
      </tr>


    <!-- Зум -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Zoom") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Zoom type") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(specs_macros.zoom_type_label(lens.spec.zoom_type.value)) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Internal zoom") }}</td>
        {% for lens in lenses %}
          {% if lens.spec.zoom_type != "none_zoom" %}
          <td>{{ common_macros.yes_no(lens.spec.internal_zoom) }}</td>
          {% else %}
          <td> — </td>
          {% endif %}
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Zoom lock") }}</td>
        {% for lens in lenses %}
          {% if lens.spec.zoom_type != "none_zoom" %}
          <td>{{ common_macros.yes_no(lens.spec.zoom_lock) }}</td>
          {% else %}
          <td> — </td>
          {% endif %}
        {% endfor %}
      </tr>

    <!-- Макро-возможности -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Macro opportunities") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Macro lens") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.is_macro) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Max magnification") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.max_magnification) }}</td>
        {% endfor %}
      </tr>


    <!-- Углы обзора объектива, вычисляемые поля -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Lens viewing angles") }}
      </th>
    </tr>

    {% set ns = namespace(has_zoom_lens=false) %}
    {% for lens in lenses %}
      {% if lens.focal_wide != lens.focal_tele %}
        {% set ns.has_zoom_lens = true %}
      {% endif %}
    {% endfor %}

    {% if ns.has_zoom_lens %}

      <tr>
        <td>{{ _("Angle of view wide") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.angle_of_view_wide) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Angle of view tele") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.angle_of_view_tele) }}</td>
        {% endfor %}
      </tr>

    {% else %}

      <tr>
        <td>{{ _("Angle of view") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.angle_of_view_tele) }}</td>
        {% endfor %}
      </tr>

    {% endif %}


    <!-- Бленда и аксессуары -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Accessories") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Hood model") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.value_or_dash(lens.spec.hood_model) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Hood included") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.hood_included) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Tripod collar included") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.tripod_collar_included) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Tripod collar removable") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.tripod_collar_removable) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Case included") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.case_included) }}</td>
        {% endfor %}
      </tr>


    <tr>
      <td>{{ _("Supplied accessories") }}</td>
      {% for lens in lenses %}
        <td>
          {% if lens.spec.supplied_accessories %}
            <ul class="accessories-list">
              {% for item in lens.spec.supplied_accessories.split(',') %}
                <li>{{ item.strip() }}</li>
              {% endfor %}
            </ul>
          {% else %}
            —
          {% endif %}
        </td>
      {% endfor %}
    </tr>


    <!-- Дополнительно -->
    <tr class="compare-section">
      <th colspan="{{ lenses|length + 1 }}">
        {{ _("Additionally") }}
      </th>
    </tr>

      <tr>
        <td>{{ _("Weather sealing") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.weather_sealing) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Dust moisture resistant") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.dust_moisture_resistant) }}</td>
        {% endfor %}
      </tr>

      <tr>
        <td>{{ _("Fluorine_coating") }}</td>
        {% for lens in lenses %}
          <td>{{ common_macros.yes_no(lens.spec.fluorine_coating) }}</td>
        {% endfor %}
      </tr>


    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}