{% extends "base_template.html" %}
{% block title %}
{{ _("Calculate") }} FoV
{% endblock %}
{% block content %}

<span>
    / <a href="{{ url_for('index_page') }}">{{ _("Home") }}</a>
    / <a href="{{ url_for('tools') }}">{{ _("Tools") }}</a>
</span>

<h1>{{ _("Calculate") }} FoV</h1>
{% if message %}
  <div class="message {{ message_type or 'info' }}">
    {{ message }}
  </div>
{% endif %}
  <form action="{{ url_for('fov_submit') }}" method="post" enctype="multipart/form-data">
    <div class="form-row">

        <div class="field">
            <label for="camera_id">{{ _("Camera") }}</label>
            <select
               id="camera_id"
               name="camera_id"
               required
               hx-get="/partials/lens/choice_lens_field"
               hx-trigger="change"
               hx-target="#choice-lens-field-container"
            >
                <option value="">-- {{ _("Select a camera") }} --</option>
                {% for camera in cameras %}
                  <option value="{{ camera.id }}" {% if data and data.camera.id == camera.id %}selected{% endif %}>
                      {{ camera.name }}
                  </option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
          <div id="choice-lens-field-container">
            {% set lens_list = data.lens_list %}
            {% include "partials/choice_lens_field.html" %}
          </div>
        </div>
    </div>

    <div class="form-row-distance">
        <div class="field">
            <label for="distance">{{ _("Distance to the subject in meters") }}</label>
            <input
               type="number"
               step="1"
               min="0"
               id="distance"
               name="distance"
               placeholder="{{ _('Enter the distance to the subject.') }}."
               value="{{ data.distance if data else '' }}"
               required
            >
        </div>

        <!-- submit -->
        <div class="field inline">
            <button type="submit">{{ _("Calculate") }}</button>
        </div>
    </div>

    <div id="focal-field-container">
        {% set lens = data.lens %}
        {% include "partials/focal_field.html" %}
    </div>

  </form>


<div class="container">
  {% if result %}

    <h2>{{ _("Result") }}</h2>
      {% if data %}

        <h3>{{ _("Equipment") }}:</h3>
        <ul>
          <li>{{ _("Camera") }}: <span class="value">{{ data.camera }}</span></li>
          <li>{{ _("Lens") }}: <span class="value">{{ data.lens }}</span></li>
          <li>{{ _("Sensor") }}: <span class="value">{{ data.sensor }}</span></li>
        </ul>
      </div>

        <h3>{{ _("Calculations") }}</h3>
          <ul>
            <li>{{ _("Focal length") }}: <span class="value">{{ result.focal }} mm</span></li>
            {% if result.tc is not none %}
              <li>{{ _("Teleconverter") }}: <span class="value">{{ result.tc }}х</span></li>
            {% endif %}
            <li>{{ _("Frame width") }}: <span class="value">{{ result.frame_width_m|round(1) }} м., {{ result.fov_width_deg|round(1) }}°</span></li>
            <li>{{ _("Frame height") }}: <span class="value">{{ result.frame_height_m|round(1) }} м., {{ result.fov_height_deg|round(1) }}°</span></li>
          </ul>

      {% else %}
        <span class="value">{{ _("Enter the data and click count") }}</span>
      {% endif %}
{% endif %}
  </div>
{% endblock %}