{% extends "base_template.html" %}
{% block title %}
{{ _("List of all lenses") }}
{% endblock %}
{% block content %}

<span>
    / <a href="{{ url_for('index_page') }}">{{ _("Home") }}</a>
    / <a href="{{ url_for('wiki') }}">{{ _("Manufacturers") }}</a>
    / <a href="{{ url_for('manufacturer', slug=slug) }}">{{ slug }}</a>
</span>

<h1>{{ _("List of all lenses") }}</h1>
<ul>
{% for lens in lenses %}
    <li><a href="{{ url_for('lens_detail', slug=lens.manufacturer, lens_id=lens.id) }}" >{{ lens.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}