{% extends "base_template.html" %}
{% block title %}
{{ lens.name }}
{% endblock %}
{% block content %}

<span>
    / <a href="{{ url_for('index_page') }}">{{ _("Home") }}</a>
    / <a href="{{ url_for('wiki') }}">{{ _("Manufacturers") }}</a>
    / <a href="{{ url_for('manufacturer', slug=slug) }}">{{ slug }}</a>
    / <a href="{{ url_for('lens_list', slug=slug) }}">{{ _("List of all lenses") }} {{ slug }}</a>
</span>


<div class="wiki_detail-page">

  <!-- Спеки/паспорт -->
  <main class="main-detail">
    {% include "wiki/lens_includes/specs.html" %}
  </main>

   <!-- Внешний вид -->
  <aside class="sidebar">
    <section class="card">
      <h3>{{ _("Appearance") }}</h3>
        {% if images %}
        {% include "wiki/lens_includes/image.html" %}
        {% else %}
        {{ _("The images haven't been uploaded yet.") }}
        {% endif %}
    </section>

    <!-- Примеры файлов -->
    <section class="card">
      <h3>{{ _("Sample files") }}</h3>
    </section>

    <!-- Графики MTF -->
    <section class="card">
      <h3>{{ _("MTF Charts") }}</h3>
        {% if mtfs %}
        {% include "wiki/lens_includes/mtf.html" %}
        {% else %}
        {{ _("Charts are not available yet.") }}
        {% endif %}
    </section>

      <!-- Схема -->
    <section class="card">
      <h3>{{ _("Scheme") }}</h3>

    </section>
  </aside>
</div>


{% endblock %}