{% extends "base_template.html" %}
{% block title %}
{{ lens.name }}
{% endblock %}
{% block content %}


<div class="wiki_detail-page">

  <!-- Спеки/паспорт -->
  <main class="main-detail">
    {% include "wiki/lens_includes/specs.html" %}
  </main>

   <!-- Внешний вид -->
  <aside class="sidebar">
    <section class="card">
      <h3>{{ _("Appearance") }}</h3>
        {% if images %}
        {% include "wiki/lens_includes/image.html" %}
        {% else %}
        {{ _("The images haven't been uploaded yet.") }}
        {% endif %}
    </section>

    <!-- Примеры файлов -->
    <section class="card">
      <h3>{{ _("Sample files") }}</h3>
    </section>

    <!-- Графики MTF -->
    <section class="card">
      <h3>{{ _("MTF Charts") }}</h3>
        {% if mtfs %}
        {% include "wiki/lens_includes/mtf.html" %}
        {% else %}
        {{ _("Charts are not available yet.") }}
        {% endif %}
    </section>

      <!-- Схема -->
    <section class="card">
      <h3>{{ _("Scheme") }}</h3>

    </section>
  </aside>
</div>


{% endblock %}