{% extends "base.html" %}
{% block title %}
Считать FoV
{% endblock %}
{% block content %}
<h1>Считать FoV</h1>
{% if message %}
  <div class="message {{ message_type or 'info' }}">
    {{ message }}
  </div>
{% endif %}
  <form action="/" method="post" enctype="multipart/form-data">
    <div class="form-row">

        <div class="field">
            <label for="camera_id">Камера</label>
            <select id="camera_id" name="camera_id" required>
                <option value="">-- Выберите камеру --</option>
                {% for camera in cameras %}
                  <option value="{{ camera.id }}" {% if data and data.camera.id == camera.id %}selected{% endif %}>
                      {{ camera.name }}
                  </option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label for="lens_id">Объектив</label>
            <select
                id="lens_id"
                name="lens_id"
                required
                hx-get="/lens/focal-field"
                hx-trigger="change"
                hx-target="#focal-field-container"
            >
                <option value="">-- Выберите объектив --</option>
                {% for lens in lenses %}
                  <option value="{{ lens.id }}" {% if data and data.lens.id == lens.id %}selected{% endif %}>
                      {{ lens.name }}
                  </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row-distance">
        <div class="field">
            <label for="distance">Дистанция до объекта съемки в метрах</label>
            <input
               type="number"
               step="1"
               min="0"
               id="distance"
               name="distance"
               placeholder="Введите расстояние до объекта съемки."
               value="{{ data.distance if data else '' }}"
               required
            >
        </div>

        <!-- submit -->
        <div class="field inline">
            <button type="submit">Считать</button>
        </div>
    </div>

    <div id="focal-field-container">
        {% set lens = data.lens %}
        {% include "partials/focal_field.html" %}
    </div>

  </form>


<div class="container">
  {% if result %}

    <h2>Результат</h2>
      {% if data %}

        <h3>Оборудование:</h3>
        <ul>
          <li>Камера: <span class="value">{{ data.camera }}</span></li>
          <li>Объектив: <span class="value">{{ data.lens }}</span></li>
          <li>Сенсор: <span class="value">{{ data.sensor }}</span></li>
        </ul>
      </div>

        <h3>Расчеты</h3>
          <ul>
            <li>Фокусное расстояние: <span class="value">{{ result.focal }} mm</span></li>
            {% if result.tc is not none %}
              <li>Телеконвертор: <span class="value">{{ result.tc }}х</span></li>
            {% endif %}
            <li>Ширина кадра: <span class="value">{{ result.frame_width_m|round(1) }} м., {{ result.fov_width_deg|round(1) }}°</span></li>
            <li>Высота кадра: <span class="value">{{ result.frame_height_m|round(1) }} м., {{ result.fov_height_deg|round(1) }}°</span></li>
          </ul>

      {% else %}
        <span class="value">Введите данные и нажмите считать</span>
      {% endif %}
{% endif %}
  </div>
{% endblock %}