{% extends "base_template.html" %}
{% block title %}
{{ lens.name }}
{% endblock %}
{% block content %}

<!-- Общие данные -->
<h1>{{ lens.name }}</h1>
<li>{{ _("Manufacturer") }}: <b>{{ lens.manufacturer }}</b></li>
<li>{{ _("Mount") }}: <b>{{ lens.bayonet.name }}</b></li>


<!-- Фокусное расстояние -->
{% if lens.focal_wide != lens.focal_tele %}
  <li>{{ _("Minimum focal length") }}, mm: <b>{{ lens.focal_wide }}</b></li>
  <li>{{ _("Maximum focal length") }}, mm: <b>{{ lens.focal_tele }}</b></li>
{% else %}
  <li>{{ _("Focal length") }}, mm: <b>{{ lens.focal_wide }}</b></li>
{% endif %}


<!-- Диафрагма (max f-number) -->
{% if lens.aperture_max_tele != lens.aperture_max_wide %}
  <li>{{ _("Minimum aperture (max f-number)") }}: <b>f/{{ lens.aperture_max_wide }}</b></li>
  <li>{{ _("Maximum aperture (max f-number)") }}: <b>f/{{ lens.aperture_max_tele }}</b></li>
{% else %}
  <li>{{ _("Aperture (max f-number)") }}: <b>f/{{ lens.aperture_max_tele }}</b></li>
{% endif %}

<br>
<!-- Спецификации -->
<details>
    <summary>{{ _("Specifications") }}</summary>

    <br>
    <!-- Конструкция и тип объектива -->
    <div><strong>{{ _("Lens design and type") }}:</strong></div>
    <div>{{ _("Lens Type") }}: <b>{{ spec.lens_type.value }}</b></div>
    <div>{{ _("Construction") }}: <b>{{ spec.construction_type }}</b></div>

    <br>
    <!-- Физические характеристики -->
    <div><strong>{{ _("Physical characteristics") }}:</strong></div>
    <div>{{ _("Length") }}, mm: <b>{{ spec.length_mm }}</b></div>
    <div>{{ _("Diameter") }}, mm: <b>{{ spec.diameter_mm }}</b></div>
    <div>{{ _("Weight") }}, g: <b>{{ spec.weight_g }}</b></div>

    <br>
    <!-- Формат покрытия матрицы -->
    <div><strong>{{ _("Sensor coverage format") }}:</strong></div>
    <div>{{ spec.coverage_format.value }}</div>

    <br>
    <!-- Диафрагма spec-->
    <div><strong>{{ _("Aperture") }}:</strong></div>
    <div>{{ _("Minimum aperture (mix f-number)") }}: <b>f/{{ spec.min_aperture }}</b></div>
    <div>{{ _("Number of diaphragm blades") }}: <b>{{ spec.aperture_blades }}</b></div>
    <div>{{ _("Type of aperture") }}: <b>{{ spec.type_diaphragm.value }}</b></div>
    <div>{{ _("Rounding of diaphragm blades") }}: <b>{{ spec.aperture_blades_rounded }}</b></div>

    <br>
    <!-- Макро-возможности -->
    <div><strong>{{ _("Macro opportunities") }}:</strong></div>
    <div>{{ _("Macro lens") }}: <b>{{ spec.is_macro }}</b></div>
    <div>{{ _("Working distance") }}, m: <b>{{ spec.working_distance_m }}</b></div>
</details>

<h2>{{ _("Compatible teleconverters") }}:</h2>
{% for tс in teleconverters %}
    <li>{{ tс.name }}</li>
{% endfor %}

<h2>{{ _("Compatible cameras") }}:</h2>
{% for camera in camera_lenses %}
    <li><a href="{{ url_for('camera_detail', slug=camera.camera.manufacturer, camera_id=camera.camera_id) }}" >{{ camera.camera }} {{ _("via") }} {{ camera.convertor.value }}</a></li>
{% endfor %}

<h2>{{ _("Reviews/Tests") }}:</h2>
{% for link in links %}
    <li><a href="{{ link.url }}" >{{ link.title }}</a></li>
{% endfor %}

{% endblock %}