{% extends "base.html" %}
{% block title %}
{{ lens.name }}
{% endblock %}
{% block content %}
<h1>{{ lens.name }}</h1>
<li>Название: {{ lens.name }}</li>
<li>Фокусное расстояние: {{ lens.focal_max}}</li>
<li>Диафрагма: {{ lens.aperture_max}}</li>
<li>Производитель: {{ lens.manufacturer}}</li>
<li>Байонет: {{ lens.bayonet.name}}</li>

<h2>Совместимые телеконверторы</h2>
{% for tс in teleconverters %}
    <li>{{ tс.name }}</li>
{% endfor %}

<h2>Совместимые камеры</h2>
{% for camera in camera_lenses %}
    <li><a href="{{ url_for('camera_detail', camera_id=camera.camera_id) }}" >{{ camera.camera }} через {{ camera.convertor.value }}</a></li>
{% endfor %}

<h2>Обзоры/тесты</h2>
{% for link in links %}
    <li><a href="{{ link.url }}" >{{ link.title }}</a></li>
{% endfor %}

{% endblock %}