{% extends "base_template.html" %}

{% block title %}
{{ camera.name }}
{% endblock %}

{% block content %}

<span>
    / <a href="{{ url_for('index_page') }}">{{ _("Home") }}</a>
    / <a href="{{ url_for('gear') }}">{{ _("Manufacturers") }}</a>
    / <a href="{{ url_for('manufacturer', slug=slug) }}">{{ slug }}</a>
    / <a href="{{ url_for('cameras_list', slug=slug) }}">
        {{ _("List of all cameras") }} {{ slug }}
    </a>
    / {{ camera.name }}
</span>

<div class="gear_detail-page">

    <!-- Спецификации камеры -->
    <main class="main-detail">
        {% include "gear/camera_includes/specs_camera.html" %}
    </main>


    <!-- Правая колонка -->
    <aside class="sidebar">

      <section class="card">
      <form method="post" action="{{ url_for('add_camera_to_compare', camera_id=camera.id) }}">
      <button type="submit">
        {{ _("Add to the comparison") if camera.id not in compare_ids else _("Already on the comparison list") }}
      </button>
    </form>
    </section>



    </aside>
</div>

<script src="/static/js/lightbox.js"></script>
{% endblock %}