{% extends "base_template.html" %}
{% block title %}
{{ lens.name }}
{% endblock %}
{% block content %}

<span>
    / <a href="{{ url_for('index_page') }}">{{ _("Home") }}</a>
    / <a href="{{ url_for('gear') }}">{{ _("Manufacturers") }}</a>
    / <a href="{{ url_for('manufacturer', slug=slug) }}">{{ slug }}</a>
    / <a href="{{ url_for('lens_list', slug=slug) }}">{{ _("List of all lenses") }} {{ slug }}</a>
    / {{ lens.name }}
</span>


<div class="gear_detail-page">

  <!-- Спеки/паспорт -->
  <main class="main-detail">
    {% include "gear/lens_includes/specs.html" %}
  </main>

   <!-- Кнопка сравнения -->
  <aside class="sidebar">

    <section class="card">
      <form method="post" action="{{ url_for('add_lens_compare', lens_id=lens.id) }}">
      <button type="submit">
        {{ _("Add to the comparison") if lens.id not in compare_ids else _("Already on the comparison list") }}
      </button>
    </form>
    </section>

    <!-- Внешний вид -->
    <section class="card">
      <h4>{{ _("Appearance") }}</h4>
        {% if images %}
        {% include "gear/lens_includes/image.html" %}
        {% else %}
        {{ _("The images haven't been uploaded yet.") }}
        {% endif %}
    </section>

    <!-- Примеры фотографий -->
    <section class="card">
      <h4>{{ _("Sample photography") }}</h4>
        {% if sample_photos %}
        {% include "gear/lens_includes/sample_photos.html" %}
        {% else %}
        {{ _("Charts are not available yet.") }}
        {% endif %}
    </section>

    <!-- Примеры RAW -->
    <section class="card">
      <h4>{{ _("Sample RAW files") }}</h4>
    </section>

    <!-- Графики MTF -->
    <section class="card">
      <h4>{{ _("MTF Charts") }}</h4>
        {% if mtfs %}
        {% include "gear/lens_includes/mtf.html" %}
        {% else %}
        {{ _("Charts are not available yet.") }}
        {% endif %}
    </section>

      <!-- Схема -->
    <section class="card">
      <h4>{{ _("Scheme") }}</h4>

    </section>
  </aside>
</div>

<script src="/static/js/lightbox.js"></script>
{% endblock %}